.cool-class {
  font-weight: bold;
  color: blue;
}

.container {
  max-width: 840px;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

.im {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}