h1{
  font-weight: bold;
  color: blue;
  font-size: xx-large;

}

.container {
  max-width: 840px;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

body {
background-color: #e2f8ec;
color: #333333;
}

.container > div {
margin: 20px auto;
}


