.cool-class {
  font-weight: bold;
  color: blue;
 
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.intro {
  text-align: center;
}

body {
background-color: #e2f8ec;
color: #333333;
}

.container > div {
margin: 20px auto;
}

h1{
	font-size: 350%
}
h3{
	font-size: 250%;

}
p{
	font-size: 150%;
}
